@model Inventory.Models.tbl_book
@{
    ViewBag.Title = "Book";
}
<style>
    .error{
        color: red;
    }
</style>
@using (Html.BeginForm("Getdata","Book",FormMethod.Post))
{
<div class="=container">
    <div class="form-group">
        @Html.HiddenFor(x=>x.ID)
        <label>Title</label>
        @Html.ValidationMessageFor(x => x.Title, "", new { @class ="error"})
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Author</label>
        @Html.ValidationMessageFor(x => x.Author, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>ISBN</label>
        @Html.ValidationMessageFor(x => x.ISBN, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.ISBN, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Publisher</label>
        @Html.ValidationMessageFor(x => x.Publisher, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.Publisher, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Year</label>
        @Html.ValidationMessageFor(x => x.Year, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.Year, new { @class = "form-control" })
    </div>

    <div class="form-group" >
        <button type="submit" class="btn btn-primary"   >Submit</button>
        
        <button type="reset" class="btn btn-primary">Cancel</button>


    </div>
</div>
    
}

